<p id="notice"><%= notice %></p>

<p>
  <strong>Imię:</strong>
  <%= @order.first_name %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @order.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Adres:</strong>
  <%= @order.address %>
</p>


<%= link_to 'Powrot do koszyka', cart_show_path %> |
<%= link_to 'Edytuj', edit_order_path(@order) %>
<%= button_to "Wybierz bank online", cart_payment_path, method: :get %>
