<p id="notice"><%= notice %></p>

<p>
<img src=<%= @product.image.url %> width="400px" />
</p>

<p>
  <strong>Nazwa kwiatu:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Cena:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @product.description %>
</p>

<%= link_to 'Powrót do oferty sklepu', products_path %>
