<!DOCTYPE html>
<html>
  <head>
    <title>Kwiaciarnia</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
      <h1> <%= link_to "Ofeta sklepu", root_url %> </h1>
      <p> <%= link_to "Twój koszyk", cart_show_path %> </p>
      <p> <%= link_to "Flower Bunch!", flower_bunch_application_path %> </p>
      <hr>

      <p class="notice"> <%= notice %> </p>
      <p class="alert"> <%= alert %> </p>
      <%= yield %>
  </body>
</html>

